<main>
  <section class='splash_screen'>
    <h1 class='name_app'>Save Sense</h1>
    <section class='main_authentication'>
      <%= link_to "Log in", user_session_path,  class: 'sign_in' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'sign_up' %>
    </section>
  </section>
</main>
